flask
flask-cors
gunicorn
uvicorn==0.30.6
python-dotenv==1.1.1

langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.43
langchain-ibm==0.1.11
chromadb==0.4.24
huggingface-hub==0.34.3
onnxruntime==1.22.1
pandas==2.1.4
numpy==1.26.4


numpy==1.26.4
matplotlib==3.10.5


ibm_watsonx_ai==1.1.2
ibm-cos-sdk==2.13.6
