fastapi==0.116.1
uvicorn==0.35.0
python-dotenv==1.1.1

langchain==0.2.11
langchain-community==0.2.10
langchain-core==0.2.43
langchain-ibm==0.1.11
chromadb==0.4.24
huggingface-hub==0.34.3
onnxruntime==1.22.1
pydantic==2.9.1

numpy==1.26.4
pandas==2.2.2
matplotlib==3.10.5
orjson==3.11.1

gradio==4.44.0

ibm_watsonx_ai==1.1.2
ibm-cos-sdk==2.13.6

